

html{
    height: 100%;
}






body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.footer_container {
   
    background-color: #6364e4;
    padding: .5rem;
    height: auto;
    color: white;

    .footer {
        display: flex;
        gap: 1rem;

        .about,
        .contact {
            padding: 1rem;

            div {
                margin-top: 1rem;

                i {
                    font-size: 1rem;
                }
            }
        }

        .contact_f,
        .about_f {
            width: 50%;

            .about_links {
                margin-top: 2rem;
                display: flex;
                gap: 1rem;

                img {
                    width: 1.8rem;
                }
            }
        }
    }
}
