<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/solid.min.css" integrity="sha512-bdTSJB23zykBjGDvyuZUrLhHD0Rfre0jxTd0/jpTbV7sZL8DCth/88aHX0bq2RV8HK3zx5Qj6r2rRU/Otsjk+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/scss/dashboard.css">
    <style>
        .input_container {
            width: 13rem;
            height: 20rem;
            background-color: black;
            margin-top: 1rem;
            display: flex;
            /* place-content: center; */
            flex-direction: column;
            align-items: center;
            visibility: hidden;
            overflow-y: scroll;
            gap: 1rem;
        }

        .autoText {
            background-color: white;
            width: 80%;
            height: 2rem;
            display: grid;
            place-items: center;
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <div class="output"></div>
    <div class="container">
        <div class="left_container">
            <div class="header">
                <div class="user_info">
                    <div class="userimg">
                        <img src="/img/hanumanJi.jpg" alt="">
                    </div>
                    <div class="user_name">
                        <h2>{{user.activeName}}</h2>
                    </div>
                </div>
                <div class="usericons">
                    <button class="add" onclick="addFriend()">+</button>
                    <input placeholder="number..." class="numberInput" type="text">
                </div>
            </div>
            <div class="searchbar">
                <input type="text" placeholder="search..." class="searchFreindInput">

            </div>
            <div class="friendscontainer">
                {{#each data}}
                <div onclick="openChat(this)" class="friendcontainer" id="{{_id}}">
                    <div class="friendimg">
                        <img src="/img/hanumanJi.jpg" alt="">
                    </div>
                    <div class="friendname">
                        <h2>{{activeName}}</h2>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="right_container">
            <div class="header">
                <div class="user_info">
                    <div class="userimg">
                        <img src="/img/hanumanJi.jpg" alt="">
                    </div>
                    <div class="user_name">
                        <h2 class="fName"></h2>
                    </div>
                </div>
            </div>
            <div class="chat_container">

            </div>
            <div class="send_container">
                <i class="fa-solid fa-paper-plane" onclick="sendMessage()"></i>
                <input class="messageInput" placeholder="Message..." type="text">
            </div>
        </div>
        <div class="toggle">
            toggle
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/home.js"></script>
</body>

</html>