<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/scss/dashboard.css">
    <style>
    </style>
</head>

<body>
    <div class="output"></div>
    <div class="container">
        <div class="left_container">
            <div class="header">
                <div class="userimg">
                    <img src="./hanuman (2).jpg" alt="">
                </div>
                <div class="usericons">
                    <button onclick="addFriend()">add</button>
                    <input class="numberInput" type="text">
                </div>
            </div>
            <div class="searchbar">
                <input type="text">
            </div>
            <div class="friendscontainer">
                {{#each data}}
                <div onclick="openChat(this)" class="friendcontainer" id="{{_id}}">
                    <div class="friendimg">
                        <img src="./hanuman (2).jpg" alt="">
                    </div>
                    <div class="friendname">
                        <h2>{{activeName}}</h2>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="right_container">
            <div class="header">
                <div class="userimg">
                    <img src="./hanuman (2).jpg" alt="">
                </div>
                <div class="usericons">
                </div>
            </div>
            <div class="chat_container">

            </div>
            <div class="send_container">
                <button onclick="sendMessage()">Send</button>
                <input class="messageInput" type="text">
            </div>
        </div>
    </div>
    <script  src="http://localhost:3000/socket.io/socket.io.js"></script>
     <script src="/index.js"></script>
</body>

</html>