<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/scss/login.css">
</head>

<body>
    <div class="login_container">
        <form action="api/v1/task/login" method="post">
            <div class="login_icon">

            </div>
            <div class="input_field_container">
                <input type="text" required autocomplete="off" placeholder="name.." name="name">
                <input type="email" required autocomplete="off" placeholder="email.." name="email">
                <input type="password" required autocomplete="off" placeholder="password" name="password">
                <input type="text" required autocomplete="off" placeholder="mb.." name="mobileNO">
                <button class="submit_btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>

</html>